@model IEnumerable<XiNghiep.Models.TaskProgress>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.TaskId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgressId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgressId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
